:root {
  --font-para: "Josefin Sans", josefin sans;
  --font-paragraph: "Noto Sans Display", sans-serif;
  --font-display: "Kudryashev-D-Contrast", sans-serif;
  --color-darkest: #201F1F;
  --color-darkmedium: #424146;
  --color-medium: #5F5E66;
  --color-lightmedium: #8E888E;
  --color-light: #C6C2C3;
  --color-darkgreen: #142928;
  --color-darkmediumgreen: #1E1E1E;
  --color-mediumgreen: #A5A998;
  --color-lightgreen: #C4BFB9;
}

/* Default styles */
body {
  background-color: var(--color-light);
  font-family: var(--font-para);
}

nav {
  display: flex;
  margin: 0 0 0 auto;
  width: fit-content;
}

nav li a {
  color: var(--color-darkest);
  font-family: var(--font-display);
}

nav li a:hover {
  color: #5B6758;
}

li {
  display: block;
  padding: 10px;
  font-size: x-large;
}

button {
  width: 2rem;
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

.bg {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.grid1-1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;

}

.headline {
  font-family: var(--font-display);
  color: var(--color-darkgreen);
  font-size: x-large;
}

.firsttext {
  color: var(--color-darkest);
  padding: 205px;
  position: relative;
  z-index: 20;
}

.greentext {
  color: #5B6758;
}

hr {
  height: 0.5px;
  width: 70%;
  background-color: var(--color-darkgreen);
}

.hr2 {
  width: 100%;
  height: 0.5px;
  background-color: var(--color-darkgreen);
}

.projectgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.projectdisplay {
  display: flex;
  grid-column: 2/3;
  grid-row: 1;
  flex-direction: column;
  justify-content: center;
  left: 10%;
}

.menu-item span {
  color: var(--color-darkmediumgreen);
}

.menu-item span:hover {
  color: #5B6758;
}

.menu-item hr {
  width: 100%;
}

.one {
  background-image: url(img/kiddush.png);
}

.h2projekt {
  font-family: var(--font-display);
  text-align: right;
  color: var(--color-accent1);
}

a:link {
  text-decoration: none;
}

.projektillustration {
  grid-column: 4;
  margin: 20px;
  width: 500px;
  height: 300px;
  transition: transform 0.3s;
  background-size: cover;
}

.sectionheadline {
  text-align: center;
  color: var(--color-darkgreen);
  font-family: var(--font-display);
}

.ommig {
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.skills {
  background-color: var(--color-medium);
  padding: 30px;
  font-size: larger;
  color: #CCCCCC;
}

.skillgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skills h2 {
  text-align: right;
  font-family: var(--font-display);
  margin-bottom: 1rem;
  margin-top: 0;
  position: absolute;
  margin-top: -40px;
  color: var(--color-darkgreen);
}

.jsme {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--color-medium);
  color: #CCCCCC;
  font-size: x-large;
  padding: 30px;
}

.praktik {
  background-color: var(--color-medium);
  color: #CCCCCC;
  padding: 30px;
}

.ommig .praktik,
.ommig .jsme,
.ommig .skills {
  height: 400px;
  width: 500px;
  overflow: auto;
  margin: 10px;
}

.cvsection {
  color: #342222;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}



.cv,
.uddannelse {
  padding: 1rem;
  margin-left: 200px;
}

.cv h2 {
  font-family: var(--font-display);
}

.uddannelse h2 {
  font-family: var(--font-display);
}

.testamonials {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 20px;
}

.testamonial {
  text-align: center;
  min-width: 100%;
  box-sizing: border-box;
  padding: 60px;
  background-color: var(--color-medium);
  color: var(--color-light);
}



.test1 {
  padding: 4rem 0 4rem 0;
  color: var(--color-accent1);
  grid-column: 2/4;
  grid-row: 1/3;
}

.test2 {
  padding: 4rem 0 4rem 0;
  color: var(--color-accent2);
  grid-column: 4/6;
  grid-row: 2/4;
}




footer {
  background-color: var(--color-darkgreen);
  color: var(--color-light);
  font-family: var(--font-display);
  padding: 4rem;
}

.footerhr {
  width: auto;
  height: 1px;
}

#a {
  color: var(--color-light);
}

#kontakt {
  font-family: var(--font-display);
}


  
.test2 {
  padding: 1rem;
  margin-top: 5px;
}

.test1 {
  padding: 1rem;
}

.sectionheadline {
  padding-right: 0;
  display: grid;
  justify-content: center;
}



.background-container {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
pointer-events: none;
overflow: hidden;
z-index: -1;
}

/* .particle {
position: absolute;
width: 5px;
height: 5px;
background-color: silver;
border-radius: 50%;
box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
animation: fly linear infinite;
} */

/* @keyframes fly {
0% {
  transform: translate(0, 0) scale(1);
  opacity: 1;
}
100% {
  transform: translate(calc(var(--translateX) - 5px), calc(var(--translateY) - 5px)) scale(0.5);
  opacity: 0;
}
} */

.content {
position: relative;
z-index: 1;
padding: 20px;
color: #fff;
}

.Selfie {
filter: grayscale(50%);
position: absolute;
z-index: 1;
left: -70px;
opacity: 1;
height: 700px;
}

.swiper-container {
position: relative;
width: 60%;
margin: auto;
overflow: hidden;
border: 1px solid #ccc;
border-radius: 10px;
margin-bottom: 20px;
}

.swiper-wrapper {
display: flex;
transition: transform 0.5s ease;
}



.swiper-button {
position: absolute;
bottom: 10px;
background-color: rgba(0, 0, 0, 0.5);
color: white;
border: none;
border-radius: 50%;
padding: 10px;
cursor: pointer;
z-index: 10;
}

.swiper-button.prev {
left: 50%;
transform: translateX(-150%) translateY(0);
}

.swiper-button.next {
left: 50%;
transform: translateX(50%) translateY(0);
}


/* Dark mode styles */
.dark-mode {
  background-color: var(--color-medium);
  color: #e1d9d9;
}

.dark-mode .btn button img {
  width: 2rem;
}

.dark-mode nav li a {
  color: var(--color-light);
  font-family: var(--font-display);
}

.dark-mode nav li a:hover {
  color: var(--color-mediumgreen);
}

.dark-mode .headline {
  color: var(--color-mediumgreen);
  font-family: var(--font-display);
}

.dark-mode .grid1-1 {
  background-size: 40%;
  background-position: 0% 75%;
}


.dark-mode .sectionheadline {
  font-family: var(--font-display);
  color: var(--color-light);
}

.dark-mode .greentext {
  color: var(--color-darkgreen);
}

.dark-mode .firsttext {
  color: var(--color-mediumgreen);
}

.dark-mode .skills {
  font-weight: bold;
  color: var(--color-light);
  background-color: var(--color-darkmedium);
}

.dark-mode .jsme {
  font-weight: bold;
  color: var(--color-light);
  background-color: var(--color-darkmedium);
}

.dark-mode .menu-item span:hover {
  color: #a1c597;
}

.dark-mode .praktik {
  font-weight: bold;
  color: var(--color-light);
  background-color: var(--color-darkmedium);
}

.dark-mode .cvsection {
  color: var(--color-light);
}

.dark-mode .test1 {
  color: var(--color-lightgreen);
}

.dark-mode .test2 {
  color: var(--color-mediumgreen);
}

.dark-mode footer {
  background-color: var(--color-darkest);
  color: var(--color-light);
  font-family: var(--font-display);
  font-weight: bold;
}

.dark-mode #kontakt {
  font-family: var(--font-display);
}

.dark-mode hr {
  background-color: var(--color-lightgreen);
  border: none;
}

.dark-mode .footerhr {
  background-color: var(--color-mediumgreen);
  border: none;
}

.dark-mode #a {
  color: var(--color-light);
}

.dark-mode .testamonial {
  background-color: var(--color-lightmedium);
}


/* Media Queries */
@media (max-width: 1024px) {
  .grid1-1 {
    background-size: 45%;
    background-position: 0% 85%;
    margin-left: 0%;
  }

  .firsttext {
    padding: 125px 75px 75px 250px;
  }

  .ommig {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }

  .praktik,
  .jsme,
  .skills {
    margin-left: 50px;
  }

  .testamonials {
    justify-content: center;
    display: block;
    margin-left: 110px;
    margin-right: 110px;
  }

  .test2 {
    padding: 1rem;
    margin-top: 5px;
  }

  .test1 {
    padding: 1rem;
  }
}

@media (max-width: 813px) {
  .grid1-1 {
display: block;    margin-top: 70px;
    background-size: 50%;
    background-position: 0% 85%;
    margin-left: 0%;
  }

  .firsttext {
    padding: 0%;
  }

  .Selfie {
    position: relative;
  }

  .ommig {
    margin: 50px auto; /* Centrerer på x-aksen */
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center; /* Centrerer på x-aksen */
    align-items: center; /* Centrerer på y-aksen */
  }

  .ommig .jsme,
  .ommig .skills,
  .ommig .praktik {
    width: 90%;
  }

  .ommig .praktik {
    height: fit-content;
  }

  .ommig .jsme{
    background-color: var(--color-lightmedium);
  }

  .ommig .skills {
    background-color: var(--color-darkmedium);
    margin-top: 0px;
    margin-left: 0px;
  }

  .skills h2 {
    color: #A5A998;
    margin-top: -20px;
  }

  .projektillustration {
 width: 300px;
 height: 200px;
  }

  .cvsection {
    grid-template-columns: 1fr;
    margin-left: 10px;
    margin-right: 10px;
  }

  .testamonials {
    grid-template-columns: repeat(3, 1fr); /* Ændre til 3 kolonner i mobilvisning */
  }

  .swiper-button {
    position: relative;
    bottom:40px;
    margin-left: -10px;
  }
  .swiper-container {
    width: 90%; /* Ændret bredden til 90% */
    margin: auto; /* Centrerer swiper-container */
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .cv,
.uddannelse {
  margin-left: 0px;
}

  .skills {
    font-size: medium;
  }

.skills h2 {
  margin-left: -20px;
}
  .testamonial {
    text-align: center;
    min-width: 100%;
    width: 700px;
    padding: 20px;
    background-color: var(--color-medium);
    color: var(--color-light);
  }

  .projectgrid {
    display: block;
    text-align: center;
  }


  .firsttext {
    text-align: center;
    padding: 0%;
    margin-top: 70px;
  }

}

